*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
html{
    font-size: 100%;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 20px auto;
    display: flex;
}
table, tr, td{
    border: 1px 
    
}
.white{
    background-color: white;
    width: 150px;
    height: 150px;
}
.black{
    background-color: black;
    width: 150px;
    height: 150px;
}