*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
html{
    font-size: 100%;
}
.grid{
    width: 600px;
    max-width: 100%;
    margin: 20px auto;
    display: flex;
}
table.gird, tr.gird, td.gird{
    border: 1px ;
    
}
.white{
    background-color: white;
    width: 75px;
    height: 75px;
}
.black{
    background-color: black;
    width: 75px;
    height: 75px;
}